* {
    box-sizing: border-box;
    margin: 0;
}

.nav {
    display: flex;
    background: rgb(53, 52, 52);
    height: 60px;
}

.nav div {
    display: flex;
    justify-content: left;
    align-items: center;
}

.nav div h3,
.nav div p {
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 10px;
}


/* The Modal (background) */
.register-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.register-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    /* height: 300px; */
    color: #000 !important;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

label {
    font-family: -apple-system, sans-serif;
}

hr {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type=text] {
    width: 100%;
    padding: 6px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
}

input[type=submit] {
    background: #000;
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
}



#adding {
    /* display: none; */
    background: #000;
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
}

#testing {
    display: none;
}


.login-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.login-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    /* height: 300px; */
    color: #000 !important;
}

/* The Close Button */
.close2 {
    color: #aaaaaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.shopping-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.shopping-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    /* height: 300px; */
    color: #000 !important;
}

.shopping-modal-content button {
    background: #000;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
}

.shopping-modal-content button:hover {
    background: rgb(39, 38, 38);
}

/* The Close Button */
.close3 {
    color: #aaaaaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.close3:hover,
.close3:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}